<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="SOTITRAGEC sarl">
		<title>FikraApp - Quiz</title>
		<link rel="stylesheet" type="text/css" href="login.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
	</head>

	<body>
		<main>
			<section id="first-section">
				<div>
					<img class="under-icon" src="images/settings.png">
				</div>
				<div>
					<div class="principal-2">FikraApp</div>
					<div class="principal-3">Welcom to FikraApp</div>
					<div class="principal-1">WELCOME BACK</div>
			  	</div>

				<hr/>

				<!-- <div id="desc-side">
					<div class="description" style="text-align: center;">Batiment</div>
					<div class="description" style="text-align: center;">Ginie civil</div>
					<div class="description" style="text-align: center;">Voirie</div>
					<div class="description" style="text-align: center;">Assainissement</div>
				<div> -->
			</section>

			<section id="second-section">
				<div id="login-text">login</div>
				<form id="login-form">
					<img class="icon1" src="images/minus.png">
					<img class="icons" src="images/email.png">
					<input class="form-items" type="text" placeholder="Email ID">
					<img class="icon3" src="images/minus.png">
					<img class="icon2" src="images/secure.png">
					<input class="form-items" type="password" placeholder="Password" style="margin-top: -15px;">

					<div id="side-bar">
						<div>
							<label class="container">
							  <input type="checkbox" checked="checked">
							  <span class="checkmark"></span>
							  Remember me
							</label>
						</div>

						<div class="forgot-psd">
							<a  href="#">Forget my password</a>
						</div>
					</div>

					<div id="login-buttom">
						<button>LOG IN</button>
					</div>

				</form>
			</section>
		</main>
	</body>
</html>