<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="SOTITRAGEC sarl sign up">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Create your FikraApp acount</title>
		<link rel="stylesheet" type="text/css" href="sign-up.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
	</head>

	<body>
		<header>
		</header>

		<main>
			<section id="forget">
				<p>Already have an acount ?</p>
				<a class="a0" href="login.html">Click Me</a>
				<a class="a1" href="login.html">Sign In</a>
			</section>


			<section id="first-section">
				<div class="top-subsection">
					<img src="images/setting-yellow.png">
					<h1>FikraApp</h1>
				</div>

				<div class="midlle-subsection">
					<h2>Welcome</h2>
					<h2 style="position: relative; top: -55px;">to our Quiz Application</h2>
				</div>
			</section>

			<section id="second-section">
				<div class="head-section">
					<h3>Join Us</h3>
				</div>

				<div class="middle-section">
					<div class="input-section">
						<img src="images/id-card.png">
						<img id="icon-minus" src="images/minus.png">
						<input type="text" checked="checked" placeholder="First name">
						<img src="images/id-card.png">
						<img id="icon-minus" src="images/minus.png">
						<input type="text" placeholder="Last name">
					</div>

					<div class="input-email">
						<img src="images/email.png">
						<img id="icon-minus" src="images/minus.png">
						<input class="email" type="email" placeholder="Email adresse : aaaaaa@exemple.aa">
					</div>

					<div class="input-section">
						<img src="images/secure.png">
						<img id="icon-minus" src="images/minus.png">
						<input type="Password" placeholder="Password">
						<img src="images/confirm.png">
						<img id="icon-minus" src="images/minus.png">
						<input type="Password" placeholder="Confirm">
					</div>

					<div class="input-key-str">
						<img src="images/key.png">
						<img id=icon-minus src="images/minus.png">
						<input type="password" placeholder="Code S.T.R">
					</div>
				</div>

				<div class="final-section">
					<button>Sign Up</button>
				</div>

				<div class="bottom-section">
					<p>Sign Up With...</p>
					<div class="sign-up-link">
						<img src="images/facebook.png">
						<div class="fc">Facebook</div>
						<img src="images/google.png">			
						<div class="goo">Google</div>
						<img src="images/twitter.png">
						<div class="tw">Twitter</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>